.breadcrumb {
    display: block;
	width: 100%;
	position: relative;
	z-index: 1;
	align-self: flex-start;
}
.breadcrumb__list {
	list-style: none;
	padding: 20px 50px;
	margin: 0;
	display: flex;
	flex-direction: row;
}
.breadcrumb__item {
	display: block;
	position: relative;
	&:not(:last-child) {
		margin-right: 25px;
	}
	&:not(:last-child)::after {
		content: '';
		position: absolute;
		width: 6px;
		height: 9px;
		right: -18.5px;
		top: calc(50% - 4.5px);
	}
}
.breadcrumb__link,
.breadcrumb__link-current {
	font-weight: normal;
	line-height: 17px;
	color: $green;
	text-decoration: none;
}
