.header {
    padding: 29px 2px 1px; 
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 17.19%, #FFFFFF 82.81%, rgba(255, 255, 255, 0) 94.79%);
    @media #{$w1280} {
        background: #fff;
        padding: 29px 2px 30px; 
        box-shadow: 0px 4px 6px rgba(99, 99, 99, 0.5);
    }
    @media #{$w768} {
        padding: 21px 0px 19px; 
    }
    @media #{$w360} {
        padding: 10px 0px 9px; 
    }
    &-row {
        display: flex;
        align-items: center;
        padding: 0 30px;
        @media #{$w1280} {
            padding: 0;
        }
        @media #{$w768} {
            padding: 0 15px;
        }
        @media #{$w1024} {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media #{$w360} {
            display: none;
        }
        &:not(:last-child) {
            margin-bottom: 30px;
            @media #{$w1024} {
                margin-bottom: 0;
            }
        }
        &.header-row-mobile {
            display: none;
            @media #{$w360} {
                display: flex;
                justify-content: space-between;
                position: relative;
                padding: 0 20px 0 10px;
            }
        }
    }
    &-info {
        display: flex;
        align-items: center;
        color: $gray;
        @include fz-16;
        &:not(:first-child) {
            margin-left: 43px;
        }
        @media #{$w1024} {
            display: none;
        }
    }
    &-info-text {
        margin-left: 15px;
    }
    &-nav {
        flex: 1 0 auto;
        text-align: center;
        @media #{$w1024} {
            margin-top: 15px;
            order: 4;
            flex: 0 0 auto;
            text-align: left;
        }
    }
    &-nav-item {
        font-weight: 600;
        @include fz-14;
        color: $gray;
        transition: all 0.3s ease-in-out;
        @media #{$w768} {
            @include fz-14;
        }
        &:hover {
            color: $green;
        }
        &:active {
            color: $d-green;
        }
        &:not(:last-child) {
            margin-right: 35px;
            @media #{$w768} {
                margin-right: 57px;
            }
        }
    }
    &-search {
        display: flex;
        align-items: center;
        position: relative;
        box-shadow: 0px 2px 10px rgba(99, 99, 99, 0.2);
        border-radius: 60px;
        transition: all 0.3s ease-in-out;
        min-width: 462px;
        @media #{$w1280} {
            min-width: auto;
        }
        @media #{$w1024} {
            margin-left: 20px;
        }
        @media #{$w768} {
            margin-left: 12px;
        }
        &:hover, &:active {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(77, 77, 77, 0.55);
        }
        &-active {
            border-radius: 60px 24px 0px 60px;
            box-shadow: 0px 2px 10px rgba(99, 99, 99, 0.2);
            &:hover, &:active {
                box-shadow: 0px 2px 10px rgba(99, 99, 99, 0.2);
            }
        }
    }
    &-categories {
        position: relative;
        background: $green;
        border-radius: 60px 0px 0px 60px;
        font-family: $oswald;
        font-size: 13px;
        line-height: 21px;
        font-weight: 500;
        text-transform: uppercase;
        color: $d-white;
        padding: 14px 20px 14px 47px;
        cursor: pointer;
        @media #{$w768} {
            padding: 7px 21px 7px 48px;
        }
        &::before {
            position: absolute;
            content: "";
            background: url(../img/icons/categories.svg) no-repeat;
            width: 21px;
            height: 16px;
            left: 16px;
            top: 17px;
            @media #{$w768} {
                width: 19px;
                height: 14px;
                top: 11px;
                background-size: contain;
            }
        }
        &-active {
            border-radius: 24px 0px 0px 0px;
        }
    }
    &-categories-inner {
        display: none;
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        background: $white;
        left: 0;
        top: 50px;
        position: absolute;
        border-radius: 0px 0px 4px 4px;
        padding: 10px 30px 10px 0;
        z-index: 15;
        @media #{$w768} {
            top: 35px;
        }
    }
    &-category-list {
        padding: 15px 31px 0 13px;
        max-height: 256px;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: $green #f0f7ea;
        @media #{$w768} {
            padding: 5px 31px 0 13px;
        }
        &::-webkit-scrollbar {
            height: 60px;
            width: 10px;
            border-radius: 12px;
        }
        &::-webkit-scrollbar-track {
            background: #f0f7ea;
            border-radius: 12px;
        }
        &::-webkit-scrollbar-thumb  {
            background-color: $green;
            border-radius: 12px;
            border: none
        }
        &::after {
            pointer-events: none;
            position: absolute;
            content: "";
            width: 85%;
            bottom: 10px;
            height: 32px;
            background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        }
    }
    &-category {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
    &-category-input {
        position: absolute;
        opacity: 0;
        &:checked + .header-category-label {
            color: $green;
        }
    }
    &-category-label {
        position: relative;
        cursor: pointer;
        text-transform: none;
        font-family: $open-sans;
        font-weight: 600;
        @include fz-18;
        color: $d-green;
        @media #{$w768} {
            @include fz-16;
        }
    }
    &-input {
        @include fz-16;
        color: $gray;
        flex-grow: 1;
        align-self: stretch;
        padding: 14px 54px 13px 30px;
        border: none;
        border-radius: 0 60px 60px 0;
        background: #FFFFFF;
        @media #{$w768} {
            padding: 6px 29px 5px 12px;
        }
        &::placeholder {
            opacity: 0.6;
        }
        &:focus-visible {
            outline: none;
            border: none;
        }
    }
    &-search-btn {
        position: absolute;
        cursor: pointer;
        right: 19px;
        border: none;
        width: 30px;
        height: 25px;
        background: url(../img/icons/search.svg) center no-repeat;
        @media #{$w768} {
            right: 11px;
        }
        @media #{$w360} {
            right: 23px;
            top: 12px;
        }
    }
    &-links {
        margin-left: 61px;
        display: flex;
        align-items: center;
        @media #{$w1024} {
            margin-left: 30px;
        }
    }
    &-link {
        position: relative;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 39px;
            @media #{$w768} {
                margin-right: 34px;
            }
        }
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.15);
        }
        &:active {
            & svg path {
                    fill: #4F69C6;
            }
        }
    }
    &-link-favorite {
        position: absolute;
        top: -11px;
        right: -10px;
        width: 22px;
        height: 22px;
        font-family: $montserrat;
        @include fz-12;
        font-weight: 500;
        color: $white;
        background-color: $blue;
        border: 1px solid $white;
        border-radius: 50%;
        padding: 3px 0;
        text-align: center;
    }
    &-link-basket {
        position: absolute;
        top: -11px;
        right: -10px;
        width: 22px;
        height: 22px;
        font-family: $montserrat;
        @include fz-12;
        font-weight: 500;
        color: $blue;
        background-color: $white;
        border: 1px solid $blue;
        border-radius: 50%;
        padding: 3px 0;
        text-align: center;
    }
    &-burger {
        width: 29px;
        height: 29px;
        cursor: pointer;
        content: "";
        background: url(../img/icons/menu.svg) center no-repeat;
        &.header-burger-open {
            background: url(../img/icons/close.svg) center no-repeat;
        }
    }
}
.menu {
    &-inner {
        position: absolute;
        display: none;
        top: calc(100% + 9px);
        background: $white;
        width: calc(100% + 10px);
        left: -5px;
        z-index: 100;
    }
    &-search {
        border: 1px solid #7184C8;
        border-left: none;
        border-right: none;
        background: #fff;
        width: 100%;
        padding: 14px 55px 14px 35px;
        font-family: $open-sans;
        color: $gray;
        font-size: 16px;
        line-height: 22px;
        &::placeholder {
            opacity: 0.6;
        }
        &:focus-visible {
            outline: none;
        }
    }
    &-links {
        padding: 24px 0;
    }
    &-link {
        padding: 6px 15px; 
        font-family: $open-sans;
        font-weight: 600;
        color: $gray;
        font-size: 14px;
        line-height: 19px;
        display: block;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        &:active {
            background: #F9F9F9;
            box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.18);
        }
    }
    &-link-list {
        position: relative;
        font-family: $open-sans;
        padding: 6px 15px; 
        font-weight: 600;
        color: $gray;
        font-size: 14px;
        line-height: 19px;
        display: block;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        &::after {
            position: absolute;
            right: 21px;
            top: 0;
            width: 29px;
            height: 29px;
            cursor: pointer;
            content: "";
            transition: all 0.3s ease-in-out;
            background: url(../img/icons/arrow-down.svg) center no-repeat;
        }
        &-open {  
            &::after {
                transform: rotateX(180deg);
            }
        }
    }
    &-list-items {
        display: none;
    }
    &-list-item {
        font-family: $open-sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $gray;
        &:first-child {
            margin-top: 15px;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &:active {
            font-weight: 600;
        }
    }
}

