.profile {
    &-title {
        margin-top: 30px;
        font-family: $oswald;
        font-size: 30px;
        line-height: 44px;
        color: $d-green;
    }
    &-wrapper {
        margin-top: 20px;
        display: flex;
    }
    &-menu {
        flex: 0 0 315px;
        &-links {
            border-radius: 10px;
            background: $d-white;
            padding: 20px;
        }
        &-title {
            font-family: $oswald;
            font-weight: 500;
            @include fz-24;
            color: $blue;
            padding-bottom: 20px;
            border-bottom: 1.5px solid $blue;
        }
        &-link {
            display: block;
            font-weight: 600;
            @include fz-16;
            color: $d-green;
            margin-top: 20px;
            &:first-child {
                margin-top: 30px;
            }
            &:hover, &:active {
                color: $green;
            }
            &-active {
                color: $green;
            }
        }
        &-exit {
            cursor: pointer;
            padding: 15px 0 14px;
            margin-top: 30px;
            width: 100%;
            border-radius: 10px;
            background: $d-white;
            border: none;
            outline: none;
            font-family: $oswald;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: $d-green;
            transition: all 0.3s ease-in-out;
            &:hover {
                background: #BEEC95;
            }
            &:active {
                background: $green;
                box-shadow: inset 2px 4px 2px rgba(0, 0, 0, 0.3);
                color: $white;
            }
        }
    }
    &-content {
        flex: 1 0 74%;
        padding: 30px;
        margin-left: 30px;
        background: $d-white;
        border-radius: 10px;
    }
    &-info {
        &-title {
            margin-top: 60px;
            font-family: $oswald;
            @include fz-24;
            font-weight: 500;
            color: $d-green;
            width: 100%;
            &:first-child {
                margin-top: 0;
            }
        }
        &-main {
            display: flex;
            align-items: center;
        }
        &-personal {
            max-width: 63%;
        }
        &-block .profile-info-input-wrapper {
            &:nth-of-type(n + 2) {
                margin-left: 20px;
            }
        }
        &-input-wrapper {
            position: relative;
            display: inline-block;
            margin-top: 30px;
            &:nth-of-type(even) {
                margin-left: 20px;
            }
            & .ui-datepicker-trigger {
                position: absolute;
                right: 11px;
                top: 32px;
            }
        }
        &-input-title {
            @include fz-12;
            font-weight: 600;
            color: $d-green;
            margin-bottom: 5px;
        }
        &-input {
            max-height: 47px;
            padding: 14px 15px;
            @include fz-14;
            font-weight: 600;
            color: $d-green;
            width: 285px;
            background: rgba(61, 79, 60, 0.1);
            border: 2px solid rgba(61, 79, 60, 0.05);
            box-sizing: border-box;
            border-radius: 5px;
            &::placeholder {
                opacity: 0.6;
            }
            &:hover {
                background: rgba(61, 79, 60, 0.1);
                border: 2px solid rgba(103, 175, 40, 0.6);
            }
            &:focus-visible {
                background: #FFFFFF;
                border: 2px solid rgba(103, 175, 40, 0.6);
                outline: none;
            }
        }
        &-select {
            max-height: 47px;
            width: 285px;
            margin-right: 0;
            padding-right: 0;
            border-radius: 5px;
            background: #e8eee4;
            padding: 14px 15px;
            border: 2px solid rgba(61, 79, 60, 0.05);
            &::after {
                display: none;
            }
            & .select-toggle {
                text-transform: none;
            }
            & .select-dropdown {
                width: calc(100% + 4px);
                left: -2px;
                top: 100%;
                background: #e8eee4;
                border-radius: 0 0 5px 5px;
                border: 2px solid rgba(61, 79, 60, 0.05);
            }
        }
        &-date.ui-datepicker {
            width: 285px;
            background: #f1f6ed;
            border-radius: 5px;
            border: none;
            padding: 15px;
            & .ui-datepicker-header {
                padding: 0;
                background: transparent;
                border: none;
                padding-bottom: 15px;
                border-bottom: 1px solid #dfe6db;
            }
            & .ui-datepicker-next {
                background-image: url(../img/icons/pagination-next.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 8px;
                height: 100%;
                right: 15px;
                top: 4px;
                &:hover {
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                }
            }
            & .ui-datepicker-prev {
                background-image: url(../img/icons/pagination-prev.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 8px;
                height: 100%;
                left: 15px;
                top: 4px;
                &:hover {
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                }
            }
            & .ui-datepicker-title {
                font-family: $oswald;
                font-weight: 500;
                @include fz-16;
                color: $d-green;
            }
            & th {
                font-weight: 600;
                @include fz-12;
                color: $d-green;
            }
            & td a, & td span {
                width: 28px;
                height: 28px;
                padding: 6px 7px;
                font-weight: 600;
                font-size: 12px;
                color: #859182;
                border: none;
                background: transparent;
                text-align: center;
                margin-top: 5px;
                border: 1px solid transparent;
            }
            & .ui-state-active {
                border-radius: 5px;
                background: $white;
                border: 1px solid $green;
            }
        }
        &-avatar {
            margin: 0 auto;
            align-self: flex-end;
            text-align: center;
        }
        &-img {
            margin: 0 auto;
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 50%;
        }
        &-name {
            margin-top: 10px;
            font-family: $oswald;
            font-weight: 500;
            @include fz-20;
            color: $d-green;
        }
        &-avatar-change {
            margin-top: 10px;
            cursor: pointer;
            font-weight: 600;
            @include fz-12;
            text-align: center;
            color: $green;
            border: none;
            background: none;
            outline: none;
        }
        &-input-status {
            display: block;
            text-decoration: underline;
            font-weight: 600;
            @include fz-14;
            color: $green;
            margin-top: 10px;
            border: none;
            outline: none;
            background: none;
            &:disabled {
                text-decoration: none;
                color: #16A085;
            }
        }
        &-submit {
            margin-top: 120px;
            width: 210px;
        }
        &-block {
            margin-top: 30px;
        }
    }
    &-addresses {
        &-wrapper {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            max-height: 636px;
            overflow: hidden;
        }
        &-item {
            position: relative;
            background: rgba(61, 79, 60, 0.05);
            padding: 15px 15px 5px 20px;
            margin-right: 28px;
            margin-bottom: 74px;
            width: calc(25% - 21px);
            min-height: 281px;
            border-radius: 5px;
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
        &-item-add {
            border: 2px solid rgba(61, 79, 60, 0.05);
            background-color: $d-white;
            border-radius: 5px;
            padding: 35px 0 0;
            background-image: url(../img/icons/add.svg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 45%;
            transition: 0.3s ease-in-out;
            &:hover {
                border: 2px solid #c7d5ba;
                background-image: url(../img/icons/add-green.svg);
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: 45%;
            }
            &:active {
                border: 2px solid $green;
                background-image: url(../img/icons/add-green.svg);
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: 45%;
            }
        }
        &-add {
            cursor: pointer;
            background-color: transparent;
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            font-weight: 600;
            @include fz-16;
            color: $d-green;
        }
        &-head {
            display: flex;
            align-items: center;
        }
        &-name {
            flex: 1 0 auto;
            font-weight: 600;
            @include fz-14;
            color: $d-green;
        }
        &-edit {
            cursor: pointer;
            width: 30px;
            height: 30px;
            border-radius: 3px;
            margin-right: 10px;
            border: none;
            outline: none;
            background-color: rgba(61, 79, 60, 0.05);
            background-image: url(../img/icons/edit.svg);
            background-repeat: no-repeat;
            background-position: center;
            transition: 0.3s ease-in-out;
            &:hover {
                background: rgba(61, 79, 60, 0.1);
                background-image: url(../img/icons/edit-hover.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
            &:active {
                background: rgba(103, 175, 40, 0.1);
                background-image: url(../img/icons/edit-active.svg);
                background-repeat: no-repeat;
                background-position: center; 
            }
        }
        &-delete {
            cursor: pointer;
            width: 30px;
            height: 30px;
            border-radius: 3px;
            border: none;
            outline: none;
            background-color: rgba(61, 79, 60, 0.05);
            background-image: url(../img/icons/trash.svg);
            background-repeat: no-repeat;
            background-position: center;
            transition: 0.3s ease-in-out;
            &:hover {
                background: rgba(61, 79, 60, 0.1);
                background-image: url(../img/icons/trash-hover.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
            &:active {
                background: rgba(103, 175, 40, 0.1);
                background-image: url(../img/icons/trash-active.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &-info {
            margin-top: 14px;
        }
        &-text {
            @include fz-12;
            color: #859182;
            margin-bottom: 15px;
        }
        &-default {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: -34px;
            font-weight: 600;
            @include fz-14;
            color: $green;
            & span {
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 19px;
                    height: 19px;
                    background: url(../img/icons/default.svg) center no-repeat;
                    left: -29px;
                }
            }
        }
        &-more {
            text-align: center;
            margin: 40px auto 0;
            font-family: $oswald;
            font-weight: 500;
            @include fz-22;
            color: $green;
            border: none;
            outline: none;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            @media #{$w1280} {
                margin: 30px auto 0;
            }
            &:hover {
                transform: scale(1.04);
            }
            &:active {
                color: #658945;
            }
        }
    }
    &-orders {
        &-head {
            display: flex;
            align-items: center;
        }
        &-tabs {
            display: flex;
        }
        &-tab {
            position: absolute;
            opacity: 0;
            z-index: -1;
            &+label {
                background: rgba(61, 79, 60, 0.05);
                cursor: pointer;
                border-radius: 3px;
                padding: 13px;
                text-align: center;
                min-width: 140px;
                font-family: $oswald;
                font-weight: 500;
                @include fz-14;
                color: $d-green;
                &:not(:last-child) {
                    margin-right: 30px;
                }
                &:hover {
                    color: $d-green;
                    box-shadow: 0px 0px 6px rgba(253, 198, 48, 0.35);
                    background: linear-gradient(92.34deg, #67AF2833 -28.45%, #6CDA0D33 101.05%);
                }
            }
            &:checked+label {
                color: $white;
                background: linear-gradient(92.34deg, #67AF28 -28.45%, #6CDA0D 101.05%);
                box-shadow: 0px 0px 20px rgba(253, 198, 48, 0.25);
            }
        }
        &-main {
            display: none;
            margin-top: 40px;
            &.is-show {
                display: block;
            }
        }
        &-item {
            margin-top: 30px;
            &-blur {
                & .profile-orders-title {
                    filter: blur(10px);
                }
                & .profile-orders-products  {
                    filter: blur(10px);
                }
            }
        }
        &-wrapper {
            background-color: #f1f6ed;
            border-radius: 5px;
            padding: 20px 20px 30px;
        }
        &-info {
            display: flex;
            align-items: center;
            border-bottom: 1.5px solid #cbd5e2;
            padding-bottom: 15px;
        }
        &-title {
            margin-right: 40px;
        }
        &-number {
            font-family: $oswald;
            font-weight: 500;
            @include fz-18;
            color: $d-green;
        }
        &-date {
            margin-top: 5px;
            font-weight: 600;
            @include fz-12;
            color: #859182;
        }
        &-status {
            min-height: 30px;
            padding: 5px 27px;
            font-family: $oswald;
            font-weight: 500;
            @include fz-14;
            color: $white;
            border-radius: 5px;
            background: linear-gradient(92.34deg, #67AF28 -28.45%, #6CDA0D 101.05%);
            &-blue {
                background: $blue;
            }
        }
        &-count {
            margin-left: auto;
        }
        &-summ {
            font-family: $oswald;
            font-weight: 500;
            @include fz-18;
            color: $d-green;
            text-align: right;
        }
        &-details {
            margin-top: 7px;
            font-weight: 600;
            @include fz-14;
            color: $green;
            text-align: right;
        }
        &-products {
            display: flex;
            margin-top: 20px;
        }
        &-product {
            max-width: 200px;
            margin-right: 35px;
        }
        &-img {
            width: 120px;
            height: 154px;
            border-radius: 12px;
            overflow: hidden;
            margin: 0 auto;
        }
        &-name {
            margin-top: 20px;
            font-family: $oswald;
            font-weight: 500;
            text-align: center;
            @include fz-12;
            color: $d-green;
        }
        &-quantity {
            margin-top: 6px;
            font-weight: 600;
            text-align: center;
            @include fz-12;
            color: #859182;
        }
        &-control {
            margin-top: 15px;
        }
        &-btn {
            cursor: pointer;
            display: inline-block;
            text-align: center;
            width: 200px;
            min-height: 42px;
            margin-right: 15px;
            padding: 11px;
            font-family: $oswald;
            font-weight: 500;
            @include fz-14;
            color: $d-green;
            background: #f1f6ed;
            border-radius: 3px;
            &:hover, &:active {
                color: $white;
                background: #67AF28;
                box-shadow: inset 2px 4px 2px rgba(0, 0, 0, 0.25);
            }
        }
    }
    &-details {
        &-delivery {
            margin-top: 30px;
            padding: 20px;
            background: #f1f6ec;
            border-radius: 5px;
        }
        &-delivery-head {
            display: flex;
            align-items: center;
            border-bottom: 1.5px solid #cbd5e2;
            padding-bottom: 15px;
        }
        &-title {
            font-family: $oswald;
            font-weight: 500;
            @include fz-18;
            color: $d-green;
        }
        &-date {
            margin-top: 5px;
            font-weight: 600;
            @include fz-12;
            color: #859182;
        }
        &-status {
            margin-left: 40px;
            min-height: 30px;
            padding: 5px 27px;
            font-family: $oswald;
            font-weight: 500;
            @include fz-14;
            color: $white;
            border-radius: 15px;
            background: linear-gradient(92.34deg, #67AF28 -28.45%, #6CDA0D 101.05%);
        }
        &-expected {
            margin-left: auto;
            font-weight: 600;
            @include fz-14;
            color: #859182;
        }
        &-product {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }
        &-img {
            margin-right: 23px;
            width: 120px;
            height: 113px;
            overflow: hidden;
            border-radius: 4px;
        }
        &-name {
            font-family: $oswald;
            font-weight: 500;
            @include fz-16;
            color: $d-green;
        }
        &-quantity {
            margin-left: auto;
            font-weight: 600;
            @include fz-14;
            color: #859182;
        }
        &-bill {
            margin-top: 30px;
            & .order-pay-wrapper {
                justify-content: flex-start;
            }
            & .order-pay-item {
                max-width: 260px;
                margin-right: 30px;
            }
        }
        &-bill-head {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1.5px solid #404452;
        }
        &-price {
            margin-left: auto;
            font-family: $oswald;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: $d-green;
        }
        &-pay {
            width: 210px;
        }
        &-info {
            margin-top: 60px;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
        }
        &-recipient {
            width: calc(50% - 12.5px);
            background: #f1f6ec;
            border-radius: 5px;
            padding: 20px;
        }
        &-recipient-subtitle {
            font-family: $oswald;
            font-weight: 500;
            @include fz-14;
            margin-bottom: 10px;
            color: $d-green;
            &:not(:first-of-type) {
                margin-top: 30px;
            }
        }
        &-recipient-text {
            font-weight: 600;
            @include fz-12;
            margin-bottom: 10px;
            color: #859182;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-summ {
            width: calc(50% - 12.5px);
            background: #f1f6ec;
            border-radius: 5px;
            padding: 20px;
        }
        &-summ-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: $oswald;
            font-weight: 500;
            @include fz-18;
            color: $d-green;
            padding-bottom: 10px;
            border-bottom: 1.5px solid #e8ede3;
        }
        &-summ-info {
            margin-top: 20px;
        }
        &-summ-text {
            margin-bottom: 15px;
            font-weight: 600;
            @include fz-12;
            color: #859182;
            &:last-child {
                margin-bottom: 0;
            }
            & span {
                color: $d-green;
            }
        }
        &-btns {
            margin-top: 29px;
        }
        &-repeat {
            cursor: pointer;
            width: calc(50% - 12.5px);
            height: 42px;
            outline: none;
            background: $white;
            font-family: $oswald;
            font-weight: 500;
            color: $green;
            @include fz-14;
            border: 1px solid $green;
            border-radius: 3px;
            margin-right: 20px;
            transition: all 0.3s ease-in-out;
            &:hover {
                box-shadow: 0px 4px 4px rgba(103, 175, 40, 0.5);
            }
            &:active {
                box-shadow: inset 2px 4px 3px rgba(82, 84, 79, 0.4);
            }
        }
        &-cancel {
            cursor: pointer;
            width: calc(50% - 12.5px);
            height: 42px;
            outline: none;
            background: #E52C43;
            font-family: $oswald;
            font-weight: 500;
            color: $white;
            @include fz-14;
            border: 1px solid #E52C43;
            border-radius: 3px;
            transition: all 0.3s ease-in-out;
            &:hover {
                box-shadow: 2px 4px 4px rgba(214, 47, 62, 0.5);
            }
            &:active {
                box-shadow: inset 2px 4px 4px #860B16;
            }
        }
    }
}