// font-size
@mixin fz-10 {
    font-size: 10px;
    line-height: 1.3;
}
@mixin fz-12 {
    font-size: 12px;
    line-height: 1.3;
}
@mixin fz-14 {
    font-size: 14px;
    line-height: 1.3;
}
@mixin fz-16 {
    font-size: 16px;
    line-height: 1.3;
}
@mixin fz-18 {
    font-size: 18px;
    line-height: 1.3;
}
@mixin fz-20 {
    font-size: 20px;
    line-height: 1.5;
}
@mixin fz-22 {
    font-size: 22px;
    line-height: 1.5;
}
@mixin fz-24 {
    font-size: 24px;
    line-height: 1.3;
}
@mixin fz-36 {
    font-size: 36px;
    line-height: 1.3;
}
