// fonts
$open-sans: 'Open Sans',Helvetica,Arial,sans-serif;
$oswald: 'Oswald',Helvetica,Arial,sans-serif;
$gilroy: 'Gilroy',Helvetica,Arial,sans-serif;
$montserrat: 'Montserrat',Helvetica,Arial,sans-serif;

// media
$w1440: 'screen and (max-width: 1800px)';
$w1280: 'screen and (max-width: 1439px)';
$w1024: 'screen and (max-width: 1279px)';
$w768: 'screen and (max-width: 1023px)';
$w360: 'screen and (max-width: 767px)';
 
//colors
$white: #ffffff;
$d-white: #FBFFF7;
$black: #000000;
$green: #67AF28;
$d-green: #3D4F3C;
$yellow: #FFE606;
$gray: #636363;
$l-gray: #818680;
$blue: #7184C8;
$beige: #F7FFEC;
$red: #FF0617;