.popup.js-popup(id="edit1")
    .popup-wrapper.popup-wrapper-address.js-fixBlock
        .popup-address
            .popup-address-inner
                .popup-address-close.js-popupClose
                h3.popup-address-title Редактировать адрес "Дом Москва"
                .popup-address-input-wrapper
                    .popup-address-input-title Название:
                    input.popup-address-input(type="text" placeholder="Дом Москва")
                .popup-address-inputs
                    .popup-address-input-wrapper.popup-address-input-wrapper-short
                        .popup-address-input-title Регион:
                        input.popup-address-input(type="text" placeholder="Краснодарский Край")
                    .popup-address-input-wrapper.popup-address-input-wrapper-short
                        .popup-address-input-title Город:
                        input.popup-address-input(type="text" placeholder="Краснодар")
                .popup-address-inputs
                    .popup-address-input-wrapper.popup-address-input-wrapper-short
                        .popup-address-input-title Дом/офис:
                        input.popup-address-input(type="text" placeholder="Корп 'А'")
                    .popup-address-input-wrapper.popup-address-input-wrapper-short
                        .popup-address-input-title Улица:
                        input.popup-address-input(type="text" placeholder="ул. Северная")
                .popup-address-input-wrapper
                    .popup-address-input-title Получатель:
                    input.popup-address-input(type="text" placeholder="Вадим Громов")
                .popup-address-inputs
                    .popup-address-input-wrapper.popup-address-input-wrapper-short
                        .popup-address-input-title Телефон:
                        input.popup-address-input(type="text" placeholder="8 (999) 123-45-67")
                    .popup-address-input-wrapper.popup-address-input-wrapper-short
                        .popup-address-input-title Email:
                        input.popup-address-input(type="email" placeholder="Gromow@mail.ru")
                button.green-btn.popup-address-btn(type="button") Сохранить
.popup.js-popup(id="edit2")
    .popup-wrapper.popup-wrapper-address.js-fixBlock
        .popup-address
            .popup-address-inner
                .popup-address-close.js-popupClose
                h3.popup-address-title Редактировать адрес "Офис Москва"
                .popup-address-input-wrapper
                    .popup-address-input-title Название:
                    input.popup-address-input(type="text" placeholder="Дом Москва")
                .popup-address-inputs
                    .popup-address-input-wrapper.popup-address-input-wrapper-short
                        .popup-address-input-title Регион:
                        input.popup-address-input(type="text" placeholder="Краснодарский Край")
                    .popup-address-input-wrapper.popup-address-input-wrapper-short
                        .popup-address-input-title Город:
                        input.popup-address-input(type="text" placeholder="Краснодар")
                .popup-address-inputs
                    .popup-address-input-wrapper.popup-address-input-wrapper-short
                        .popup-address-input-title Дом/офис:
                        input.popup-address-input(type="text" placeholder="Корп 'А'")
                    .popup-address-input-wrapper.popup-address-input-wrapper-short
                        .popup-address-input-title Улица:
                        input.popup-address-input(type="text" placeholder="ул. Северная")
                .popup-address-input-wrapper
                    .popup-address-input-title Получатель:
                    input.popup-address-input(type="text" placeholder="Вадим Громов")
                .popup-address-inputs
                    .popup-address-input-wrapper.popup-address-input-wrapper-short
                        .popup-address-input-title Телефон:
                        input.popup-address-input(type="text" placeholder="8 (999) 123-45-67")
                    .popup-address-input-wrapper.popup-address-input-wrapper-short
                        .popup-address-input-title Email:
                        input.popup-address-input(type="email" placeholder="Gromow@mail.ru")
                button.green-btn.popup-address-btn(type="button") Сохранить