.scroll-top.js-scrollTop
    .scroll-top-icon
        img(src="img/icons/arrow-up.svg")
footer.footer
    .container
        .footer-inner 
            .footer-social 
                .footer-logo
                    img(src="img/icons/logo-w.svg", alt="лого")
                ul.footer-social-icons
                    li.footer-social-icon
                        a(href="#" target="_blank")
                            img(src="img/icons/facebook.svg", alt="facebook")
                    li.footer-social-icon
                        a(href="#" target="_blank")
                            img(src="img/icons/insta.svg", alt="insta")
                    li.footer-social-icon
                        a(href="#" target="_blank")
                            img(src="img/icons/twitter.svg", alt="twitter")
                    li.footer-social-icon
                        a(href="#" target="_blank")
                            img(src="img/icons/whatsapp.svg", alt="whatsapp")
            .footer-links-block 
                a(href="#" target="_blank").footer-links-title О компании
                a(href="#" target="_blank").footer-link Сотрудничество
                a(href="#" target="_blank").footer-link Вакансии
                a(href="#" target="_blank").footer-link Реквизиты
                a(href="#" target="_blank").footer-link О компании
            .footer-links-block 
                a(href="#" target="_blank").footer-links-title Помощь
                a(href="#" target="_blank").footer-link Как сделать заказ?
                a(href="#" target="_blank").footer-link Доставка
                a(href="#" target="_blank").footer-link Оплата
                a(href="#" target="_blank").footer-link Возврат
            .footer-links-block 
                a(href="#" target="_blank").footer-links-title Юридическим лицам
                a(href="#" target="_blank").footer-link Покупка товаров (b2b)
                a(href="#" target="_blank").footer-link Подарочные сертификаты
                a(href="#" target="_blank").footer-link Открыть пункт выдачи
                a(href="#" target="_blank").footer-link Поддержка для юр. лиц 
            .footer-links-block 
                a(href="#" target="_blank").footer-links-title Контакты
                .footer-links-subtitle Горячася линия:
                a.footer-link-big(href="tel:+79991234567") 8 (999) 123 45 67
                .footer-links-subtitle Email:
                a.footer-link-big(href="mailto:email@info.ru") Email@info.ru
    .footer-copyright
        .container
            .footer-copyright-inner
                .footer-copyright-text &copy;&nbsp;20__ ООО &quot;&quot;. Все права защищены.
                .footer-copyright-payment
                    img(src="img/icons/visa.svg", alt="visa")
                .footer-copyright-payment
                    img(src="img/icons/paypal.svg", alt="paypal")
                .footer-copyright-payment
                    img(src="img/icons/mastercard.svg", alt="mastercard")
                .footer-copyright-payment
                    img(src="img/icons/maestro.svg", alt="maestro")
script(src='js/app.min.js')