head
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	meta(name='format-detection' content='telephone=no')
	meta(name='description' content='Plant')
	meta(name='keywords' content='Plant')
	title #{title}
	link(href=`css/style.min.css` type="text/css" rel="stylesheet")