mixin breadcrumb(items, last)
	.breadcrumb(class=`${page}-breadcrumb`)
		ul.breadcrumb-list&attributes(attributes)
			each item in items
				li.breadcrumb-item
					a(href="#" title=item).breadcrumb-link=item

			if last
				li.breadcrumb-item
					span.breadcrumb-link-current=last