mixin breadcrumb(items, last)
	.breadcrumb(class=`${page}__breadcrumb`)
		ul.breadcrumb__list&attributes(attributes)
			each item in items
				li.breadcrumb__item
					a(href="#" title=item).breadcrumb__link=item

			if last
				li.breadcrumb__item
					span.breadcrumb__link-current=last