@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BlackItalic.woff2") format("woff2"), url("../fonts/Gilroy-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/Gilroy-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-MediumItalic.woff2") format("woff2"), url("../fonts/Gilroy-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-HeavyItalic.woff2") format("woff2"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-HeavyItalic.woff2") format("woff2"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-ExtraboldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BlackItalic.woff2") format("woff2"), url("../fonts/Gilroy-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-MediumItalic.woff2") format("woff2"), url("../fonts/Gilroy-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-ExtraboldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/Gilroy-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ThinItalic.woff2") format("woff2"), url("../fonts/Gilroy-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLightItalic.woff2") format("woff2"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLightItalic.woff2") format("woff2"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ThinItalic.woff2") format("woff2"), url("../fonts/Gilroy-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-ExtraLight.woff2") format("woff2"), url("../fonts/Oswald-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-ExtraLight.woff2") format("woff2"), url("../fonts/Oswald-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-ExtraLight.woff2") format("woff2"), url("../fonts/Oswald-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-ExtraLight.woff2") format("woff2"), url("../fonts/Oswald-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

.slick-slider {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

ol,
ul,
form,
figure {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

li {
  list-style-type: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
}

.scroll-top {
  cursor: pointer;
  display: table;
  position: fixed;
  bottom: 400px;
  right: 4.5%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #67AF28;
  border: 5px solid #9FCA77;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.scroll-top:hover,
.scroll-top:active {
  border: 5px solid #67AF28;
}

.scroll-top-icon {
  display: table-cell;
  vertical-align: middle;
  max-width: 17px;
  border-radius: 50%;
}

.scroll-top-icon img {
  margin: 0 auto;
}

.header {
  padding: 35px 2px 30px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(17.19%, #FFFFFF), color-stop(82.81%, #FFFFFF), color-stop(94.79%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #FFFFFF 17.19%, #FFFFFF 82.81%, rgba(255, 255, 255, 0) 94.79%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 17.19%, #FFFFFF 82.81%, rgba(255, 255, 255, 0) 94.79%);
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-row:not(:last-child) {
  margin-bottom: 30px;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #636363;
  font-size: 16px;
  line-height: 1.3;
}

.header-info:not(:first-child) {
  margin-left: 43px;
}

.header-info-text {
  margin-left: 15px;
}

.header-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-align: center;
}

.header-nav-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: #636363;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-nav-item:hover {
  color: #67AF28;
}

.header-nav-item:active {
  color: #3D4F3C;
}

.header-nav-item:not(:last-child) {
  margin-right: 35px;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-shadow: 0px 2px 10px rgba(99, 99, 99, 0.2);
          box-shadow: 0px 2px 10px rgba(99, 99, 99, 0.2);
  border-radius: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-search:hover,
.header-search:active {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(77, 77, 77, 0.55);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(77, 77, 77, 0.55);
}

.header-categories {
  position: relative;
  background: #67AF28;
  border-radius: 60px 0px 0px 60px;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 16px 14px 47px;
  cursor: pointer;
}

.header-categories:hover {
  border-radius: 24px 0px 0px 0px;
}

.header-categories:active {
  border-radius: 24px 0px 0px 0px;
}

.header-categories:hover + .header-category-list {
  display: block;
}

.header-categories:active + .header-category-list {
  display: block;
}

.header-categories::before {
  position: absolute;
  content: "";
  background: url(../img/icons/categories.svg) no-repeat;
  width: 21px;
  height: 16px;
  left: 16px;
  top: 17px;
}

.header-category-list {
  display: none;
  width: 100%;
  background: #ffffff;
  left: 0;
  top: 50px;
  position: absolute;
  padding: 15px 31px 13px 13px;
  border-radius: 0px 0px 4px 4px;
  max-height: 256px;
  overflow-y: scroll;
}

.header-category-list:hover {
  display: block;
}

.header-category-list:active {
  display: block;
}

.header-category-list::after {
  pointer-events: none;
  position: absolute;
  content: "";
  width: 90%;
  bottom: 5px;
  height: 27px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.header-category:not(:last-child) {
  margin-bottom: 12px;
}

.header-category-input {
  position: absolute;
  opacity: 0;
}

.header-category-input:checked + .header-category-label {
  color: #67AF28;
}

.header-category-label {
  position: relative;
  cursor: pointer;
  text-transform: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #3D4F3C;
}

.header-input {
  font-size: 16px;
  line-height: 1.3;
  color: #636363;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding: 14px 24px 13px 30px;
  border: none;
  border-radius: 0 60px 60px 0;
  background: #FFFFFF;
}

.header-input::-webkit-input-placeholder {
  opacity: 0.6;
}

.header-input::-moz-placeholder {
  opacity: 0.6;
}

.header-input:-ms-input-placeholder {
  opacity: 0.6;
}

.header-input::-ms-input-placeholder {
  opacity: 0.6;
}

.header-input::placeholder {
  opacity: 0.6;
}

.header-input:focus-visible {
  outline: none;
  border: none;
}

.header-search-btn {
  position: absolute;
  cursor: pointer;
  right: 24px;
  border: none;
  width: 27px;
  height: 25px;
  background: url(../img/icons/search.svg) center no-repeat;
}

.header-links {
  margin-left: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-link {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-link:not(:last-child) {
  margin-right: 41px;
}

.header-link:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.header-link:active svg path {
  fill: #4F69C6;
}

.header-link-favorite {
  position: absolute;
  top: -11px;
  right: -10px;
  width: 22px;
  height: 22px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 500;
  color: #ffffff;
  background-color: #7184C8;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 3px 0;
  text-align: center;
}

.header-link-basket {
  position: absolute;
  top: -11px;
  right: -10px;
  width: 22px;
  height: 22px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 500;
  color: #7184C8;
  background-color: #ffffff;
  border: 1px solid #7184C8;
  border-radius: 50%;
  padding: 3px 0;
  text-align: center;
}

.footer {
  background-color: #67AF28;
}

.footer-inner {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-icon {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-social-icon:hover,
.footer-social-icon:active {
  -webkit-transform: scale(1.26);
      -ms-transform: scale(1.26);
          transform: scale(1.26);
}

.footer-social-icon:not(:last-child) {
  margin-right: 27px;
}

.footer-links-title {
  display: block;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-link {
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover,
.footer-link:active {
  color: #ffffff;
}

.footer-link:not(:last-child) {
  margin-bottom: 15px;
}

.footer-link-big {
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-link-big:hover,
.footer-link-big:active {
  -webkit-transform: scale(1.18) translateX(10px);
      -ms-transform: scale(1.18) translateX(10px);
          transform: scale(1.18) translateX(10px);
}

.footer-links-subtitle {
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
}

.footer-links-subtitle:not(:first-child) {
  margin-top: 24px;
}

.footer-copyright {
  background: #85bf53;
}

.footer-copyright-inner {
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-copyright-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: auto;
  margin-left: auto;
}

.footer-copyright-payment:not(:last-child) {
  margin-right: 15px;
}

.wrapper-index {
  position: relative;
  background: url(../img/index-bg.png);
}

.wrapper-index::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 260px;
  height: 580px;
  background: url(../img/index/leaf-left.png) no-repeat;
}

.wrapper-index::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 255px;
  height: 580px;
  background: url(../img/index/leaf-right.png) no-repeat;
}

.main {
  padding: 80px 0 110px;
}

.banner {
  background: url("../img/index/trees.png") no-repeat right bottom, -o-linear-gradient(313.31deg, #F7FFEC 9.75%, #FFFFFF 66.54%);
  background: url("../img/index/trees.png") no-repeat right bottom, linear-gradient(136.69deg, #F7FFEC 9.75%, #FFFFFF 66.54%);
  border-radius: 12px;
  padding: 114px 146px;
  max-width: 1350px;
  margin: 0 auto;
}

.banner-title {
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 1.24;
  color: #67AF28;
}

.banner-subtitle {
  display: inline-block;
  margin-top: 15px;
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.24;
  color: #3D4F3C;
}

.banner-date {
  margin-top: 15px;
  text-align: right;
  display: block;
  font-weight: 400;
  color: #818680;
  font-size: 18px;
  line-height: 1.3;
}

.offers {
  margin-top: 100px;
  background: #F7FFEC;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.offers-title {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #7184C8;
  font-size: 28px;
  line-height: 1.35;
  display: inline-block;
  position: relative;
}

.offers-title::before {
  position: absolute;
  content: "";
  left: -20px;
  top: 10px;
  width: 8px;
  height: 52%;
  border-radius: 8px;
  background-color: #7184C8;
}

.offers-timer {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-top: 16px;
  color: #636363;
}

.offers-timer-item {
  position: relative;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.3;
  padding: 10px;
  color: #7184C8;
  border-radius: 3px;
  margin: 0 5px;
}

.offers-timer-item:first-child {
  margin-left: 0;
  margin-right: 5px;
}

.offers-timer-item::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-filter: blur(27px);
          filter: blur(27px);
}

.offers-cards {
  margin: 30px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers-cards-more {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  color: #67AF28;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.offers-card {
  position: relative;
  width: calc(25% - 22.5px);
  max-height: 400px;
  overflow: hidden;
  margin-right: 30px;
}

.offers-card:nth-child(4n) {
  margin-right: 0;
}

.offers-card img {
  -o-object-fit: cover;
     object-fit: cover;
}

.offers-card:hover .card-inner {
  display: block;
}

.card:hover .card-inner {
  display: block;
}

.card-inner {
  display: none;
  text-align: left;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  position: absolute;
  color: #ffffff;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 10px);
  background: rgba(61, 79, 60, 0.7019607843);
  border-radius: 4px;
  padding: 10px 12px 14px;
}

.card-inner:hover {
  display: block;
}

.card-text {
  margin-top: 9px;
}

.card-price {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  margin-top: 10px;
  display: inline-block;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.3;
  line-height: 1.5;
}

.card-price del {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}

.card-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-left: 18px;
  padding: 0 0 0 10px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: #ffffff;
}

.card-minus {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  background-image: url(../img/icons/minus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-plus {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  background-image: url(../img/icons/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-count {
  font-weight: 600;
  text-align: center;
  background: none;
  outline: 0;
  border: none;
  color: #3D4F3C;
  font-size: 14px;
  line-height: 1.3;
  max-width: 32px;
}

.card-add {
  margin-left: 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 37px;
  height: 100%;
  outline: none;
  background-image: url(../img/icons/basket-g.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-left: 1px solid rgba(61, 79, 60, 0.3019607843);
  border-radius: 5px;
}

.indicators {
  margin-top: 60px;
  background-color: #F7FFEC;
  padding: 60px;
}

.indicators-inner {
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 21px 21px 21px 177px;
}

.indicators-inner::before {
  position: absolute;
  content: "";
  width: 188px;
  height: 266px;
  left: -40px;
  top: 0;
  background: url(../img/index/flower-left.png) center no-repeat;
}

.indicators-inner::after {
  position: absolute;
  content: "";
  width: 130px;
  height: 213px;
  right: -130px;
  bottom: -20px;
  background: url(../img/index/flower-right.png) center no-repeat;
}

.indicators-title {
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: #3D4F3C;
}

.indicators-description {
  max-width: 314px;
  margin-top: 10px;
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #3D4F3C;
}

.indicators-items {
  margin-left: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.indicators-item {
  position: relative;
}

.indicators-item:not(:last-child) {
  margin-right: 31px;
}

.indicators-item::after {
  position: absolute;
  content: "";
  background-color: #7184C8;
  bottom: 15px;
  width: 100%;
  height: 8px;
  border-radius: 16px;
}

.indicators-value {
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.5;
  color: #67AF28;
}

.indicators-parameter {
  max-width: 129px;
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #3D4F3C;
}

.products {
  margin-top: 60px;
}

.products-item {
  position: relative;
  background: #F7FFEC;
  padding-bottom: 30px;
}

.products-item:not(:first-child) {
  margin-top: 100px;
}

.products-header {
  padding: 20px 20px 20px 70px;
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
}

.products-name {
  position: relative;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: #7184C8;
}

.products-name::before {
  position: absolute;
  content: "";
  left: -20px;
  top: 5px;
  width: 8px;
  height: 22px;
  border-radius: 8px;
  background-color: #7184C8;
}

.products-more {
  display: block;
  text-align: center;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  color: #67AF28;
}

.products-slider {
  padding: 30px;
}

.products-slider-item {
  border-radius: 12px;
  position: relative;
}

.products-slider-item:not(:last-child) {
  margin-right: 30px;
}

.products-slider-sale {
  width: 341px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  padding: 20px 10px 20px 20px;
  background: -o-linear-gradient(357.52deg, rgba(29, 26, 26, 0.7019607843) 0.95%, rgba(29, 18, 18, 0.7019607843) 36.39%, rgba(34, 22, 22, 0.7019607843) 98.18%);
  background: linear-gradient(92.48deg, rgba(29, 26, 26, 0.7019607843) 0.95%, rgba(29, 18, 18, 0.7019607843) 36.39%, rgba(34, 22, 22, 0.7019607843) 98.18%);
  -webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.68);
          box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.68);
  border-radius: 12px;
}

.products-slider-text {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 300;
  margin-right: 55px;
}

.products-slider-value {
  margin-top: 16px;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  text-align: right;
  color: #FFE606;
  font-size: 32px;
  line-height: 1.5;
}

.products-slider-value small {
  margin-right: 5px;
  font-size: 24px;
  line-height: 1.3;
}

.products-slider-value-red {
  color: #FF0617;
}

.products-slider .slick-arrow {
  cursor: pointer;
  top: 20px;
  position: absolute;
  border: none;
  font-size: 0;
  border: 2px solid #7184C8;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.products-slider .slick-arrow:hover {
  border: 2px solid #4F69C6;
  outline: none;
  -webkit-transform: scale(1.17);
      -ms-transform: scale(1.17);
          transform: scale(1.17);
}

.products-slider .slick-arrow:active {
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
  border: 2px solid #4F69C6;
  -webkit-filter: drop-shadow(0px 0px 2px #4F69C6);
          filter: drop-shadow(0px 0px 2px #4F69C6);
}

.products-slider .slick-next {
  right: 30px;
  background-image: url(../img/icons/arrow-next.svg);
}

.products-slider .slick-prev {
  right: 80px;
  background-image: url(../img/icons/arrow-prev.svg);
}

.categories {
  margin-top: 80px;
  background-color: #ffffff;
  padding: 40px 0 60px;
}

.categories-title {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  color: #7184C8;
  margin-bottom: 40px;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px;
}

.categories-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FBFFF7;
  border: 2px solid #FBFFF7;
  border-radius: 10px;
  padding: 20px 15px;
  text-align: center;
  width: calc(16.66% - 25px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.categories-item:hover {
  border: 2px solid #67AF28;
}

.categories-item:active {
  background: #EDFFD5;
}

.categories-item:nth-child(6n) {
  margin-right: 0;
}

.categories-item:nth-child(n+7) {
  margin-bottom: 0;
}

.categories-img {
  height: 70px;
  display: table-cell;
  vertical-align: middle;
}

.categories-img img {
  max-height: 100%;
  margin: 0 auto;
}

.categories-name {
  margin-top: 23px;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #67AF28;
}

.viewed {
  margin-top: 100px;
}

.viewed-item {
  position: relative;
  background: #FBFFF7;
}

.viewed .slick-arrow {
  border: 2px solid #67AF28;
}

.viewed .slick-arrow:hover {
  border: 2px solid #67AF28;
  outline: none;
  -webkit-transform: scale(1.17);
      -ms-transform: scale(1.17);
          transform: scale(1.17);
}

.viewed .slick-arrow:active {
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
  border: 2px solid #67AF28;
  -webkit-filter: drop-shadow(0px 0px 2px #67AF28);
          filter: drop-shadow(0px 0px 2px #67AF28);
}

.viewed .slick-next {
  background-image: url(../img/icons/arrow-next-green.svg);
}

.viewed .slick-prev {
  background-image: url(../img/icons/arrow-prev-green.svg);
}

.js-show {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.js-block {
  display: block;
}

.js-hide {
  display: none;
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1280px;
  }
}