main(class=`main main-${page}`)
    .container.container-narrow 
        +breadcrumb(['Главная', 'Плодово-ягодные'], 'Саженцы малины в ассортименте ')
    section.card
        .container.container-narrow.container-notablet 
            .card-wrapper
                .card-gallary 
                    .gallary-slider.js-gallary 
                        .gallary-slide
                            img(src="img/card/card.jpg", alt="Товар")
                        .gallary-slide
                            img(src="img/card/offers1.jpg", alt="Товар")
                        .gallary-slide
                            img(src="img/card/offers2.jpg", alt="Товар")
                        .gallary-slide
                            img(src="img/card/offers3.jpg", alt="Товар")
                    .gallary-slider-nav.js-gallary-nav
                        .gallary-slide-nav
                            img(src="img/card/card.jpg", alt="Товар")
                        .gallary-slide-nav
                            img(src="img/card/offers1.jpg", alt="Товар")
                        .gallary-slide-nav
                            img(src="img/card/offers2.jpg", alt="Товар")
                        .gallary-slide-nav
                            img(src="img/card/offers3.jpg", alt="Товар")
                .card-guarantees
                    .guarantees-inner
                        .guarantees-img
                            img(src="img/icons/return.svg", alt="Возврат")
                        p.guarantees-return Гарантия возврата
                            span.guarantees-period До 14 дней на возврат
                    a.guarantees-sale(href="#") Нашли дешевле? Скинем цену!
                .card-product 
                    h2.product-title Саженцы малины в ассортименте
                    .product-info
                        .product-article Артикул: 773521
                        form.product-favorite(method="post") 
                            input.product-favorite-input.card-favorite(type="checkbox" id="favorite")
                            label(for="favorite") В список желаемого
                        .product-rating.js-starsWrap
                            .product-stars.stars.js-stars(data-stars="4")
                                .stars-result
                                    span
                                    span
                                    span
                                    span
                                    span
                            a.product-reviews (125 отзывов)
                        p.product-share Поделиться 
                .card-buy
                    .buy-price 59&nbsp;990&nbsp;₽ <del>64&nbsp;990&nbsp;₽</del> <span>Экономия 5&nbsp;000&nbsp;₽</span>
                    button.green-btn.buy-btn Добавить в корзину
                        img(src="img/icons/basket-w.svg", alt="Рейтинг") 
                    .buy-options 
                        input.buy-option(type="radio" name="option" id="option1" checked)  
                        label(for="option1") Вариант товара <span>250₽</span>
                        input.buy-option(type="radio" name="option" id="option2" checked)  
                        label(for="option2") Вариант товара <span>350₽</span>
                        input.buy-option(type="radio" name="option" id="option3" checked)  
                        label(for="option3") Вариант товара <span>400₽</span>                    
                    .buy-options-mobile.js-buyOptions Вариант товара
                        ul.buy-options-list.js-buyOptionsList
                            li.buy-options-item Вариант 1
                            li.buy-options-item Вариант 2
                            li.buy-options-item Вариант 3
                            li.buy-options-item Вариант 4
                            li.buy-options-item Вариант 5
                    p.buy-missing Товар временно отсутствует                   
                .card-info
                    .info-tabs.js-tabMenu
                        input.info-input(type="radio" name="card-tab" id="card-tab-1" class="js-tabItem" value="")
                        label(for="card-tab-1") Описание
                        input.info-input(type="radio" name="card-tab" id="card-tab-2" class="js-tabItem" value="")
                        label(for="card-tab-2") Характеристики
                        input.info-input(type="radio" name="card-tab" id="card-tab-3" class="js-tabItem" value="" checked)
                        label(for="card-tab-3") Отзывы
                        input.info-input(type="radio" name="card-tab" id="card-tab-4" class="js-tabItem" value="")
                        label(for="card-tab-4") Оплата и доставка
                        input.info-input(type="radio" name="card-tab" id="card-tab-5" class="js-tabItem" value="")
                        label(for="card-tab-5") Варианты товара
                    .js-tab-content
                        .info-content.info-content-first.js-textWrap(data-tab="card-tab-1")
                            h3.info-title Описание
                            .info-text.js-textBox
                                p iPhone 11 - усовершенствованная версию самого популярного смартфона Apple с новыми технологиями, значительно улучшающими функции, которые используются каждый день. iPhone 11 оснащён новой двойной камерой, позволяющей легко снимать видео превосходного качества и использовать при фотосъёмке Ночной режим. Благодаря процессору A13 Bionic на iPhone 11 можно выполнять самые ресурсоёмкие задачи. При этом смартфон может работать целый день без подзарядки и ещё лучше защищён от воды.
                                h4 Тщательно продуманный дизайн и дисплей
                                p iPhone 11 - усовершенствованная версию самого популярного смартфона Apple с новыми технологиями, значительно улучшающими функции, которые используются каждый день. iPhone 11 оснащён новой двойной камерой, позволяющей легко снимать видео превосходного качества и использовать при фотосъёмке Ночной режим. Благодаря процессору A13 Bionic на iPhone 11 можно выполнять самые ресурсоёмкие задачи. При этом смартфон может работать целый день без подзарядки и ещё лучше защищён от воды.iPhone 11 - усовершенствованная версию самого популярного смартфона Apple с новыми технологиями, значительно улучшающими функции, которые используются каждый день. iPhone 11 оснащён новой двойной камерой, позволяющей легко снимать видео превосходного качества и использовать при фотосъёмке Ночной режим. Благодаря процессору A13 Bionic на iPhone 11 можно выполнять самые ресурсоёмкие задачи. При этом смартфон может работать целый день без подзарядки и ещё лучше защищён от воды.
                            button.info-more.js-moreBoxText(type="button") Читать полностью
                        .info-content.info-content-second(data-tab="card-tab-2") 
                            h3.info-title Характеристики
                            .info-characteristics
                                .info-characteristics-col
                                    dl.info-characteristics-dotted
                                        dt.info-term 
                                            span Диагональ экрана, дюймы
                                        dd.info-definition 1 год
                                    dl.info-characteristics-dotted
                                        dt.info-term 
                                            span Гарантия
                                        dd.info-definition 1792x828
                                    dl.info-characteristics-dotted
                                        dt.info-term 
                                            span Встроенная память
                                        dd.info-definition 4 ГБ
                                    dl.info-characteristics-dotted
                                        dt.info-term 
                                            span Емкость аккумулятора, мАч
                                        dd.info-definition 3 100
                                    dl.info-characteristics-dotted
                                        dt.info-term 
                                            span Разрешение основной тыловой камеры, Мпикс
                                        dd.info-definition 12
                                .info-characteristics-col
                                    dl.info-characteristics-dotted
                                        dt.info-term 
                                            span Диагональ экрана, дюймы
                                        dd.info-definition 1 год
                                    dl.info-characteristics-dotted
                                        dt.info-term 
                                            span Гарантия
                                        dd.info-definition 1792x828
                                    dl.info-characteristics-dotted
                                        dt.info-term 
                                            span Встроенная память
                                        dd.info-definition 4 ГБ
                                    dl.info-characteristics-dotted
                                        dt.info-term 
                                            span Емкость аккумулятора, мАч
                                        dd.info-definition 3 100
                                    dl.info-characteristics-dotted
                                        dt.info-term 
                                            span Разрешение основной тыловой камеры, Мпикс
                                        dd.info-definition 12
                        .info-content.info-content-third.is-show(data-tab="card-tab-3") 
                            .info-reviews-result 
                                .info-reviews-col
                                    svg.info-circle(width="140" height="140" viewBox="0 0 140 140")
                                        linearGradient#fillGtadient 
                                            stop(offset="-28.45%" stop-color="#67AF28")
                                            stop(offset="101.5%" stop-color="#6CDA0D")
                                        circle(cx='70', cy='70', r='70', fill='transparent')
                                        path.info-circle-line.js-reviewsCircle(fill="none" stroke-linecap="round" stroke-width="8.23615" stroke="url(#fillGtadient)" stroke-dasharray="410" d="m 70.09723,3.8761649 a 65.897909,65.880344 0 0 1 0,131.7606851 65.897908,65.880344 0 0 1 0,-131.7606851" id="path9" style="stroke:url(#fillGtadient)")
                                        text.info-circle-number.js-reviewsNumber(x='70', y='67', text-anchor='middle', dy='5') 4.5
                                        text.info-circle-count(x='70', y='82', text-anchor='middle', dy='15') 125 отзывов
                                    a.green-btn.info-reviews-btn(href="#") Оставить отзыв 
                                .info-reviews-col 
                                    ul.info-stat
                                        li.info-stat-item 
                                            .info-stat-parameter 5 звезд
                                            .info-stat-value
                                                progress.info-stat-line(value="8.5" max="10")
                                        li.info-stat-item 
                                            .info-stat-parameter 4 звезды
                                            .info-stat-value
                                                progress.info-stat-line(value="1.5" max="10")
                                        li.info-stat-item 
                                            .info-stat-parameter 3 звезды
                                            .info-stat-value
                                                progress.info-stat-line(value="0" max="10")
                                        li.info-stat-item 
                                            .info-stat-parameter 2 звезды
                                            .info-stat-value
                                                progress.info-stat-line(value="0" max="10")
                                        li.info-stat-item 
                                            .info-stat-parameter 1 звезда
                                            .info-stat-value
                                                progress.info-stat-line(value="0" max="10")
                                .info-reviews-col.info-reviews-col-details 
                                    ul.info-stat
                                        li.info-stat-item 
                                            .info-stat-parameter Критерии <span>4.9</span>
                                            .info-stat-value
                                                progress.info-stat-line(value="4.9" max="5")
                                        li.info-stat-item 
                                            .info-stat-parameter Критерии <span>4.9</span>
                                            .info-stat-value
                                                progress.info-stat-line(value="4.9" max="5")
                                        li.info-stat-item 
                                            .info-stat-parameter Критерии <span>4.9</span>
                                            .info-stat-value
                                                progress.info-stat-line(value="4.9" max="5")
                                        li.info-stat-item 
                                            .info-stat-parameter Критерии <span>4.9</span>
                                            .info-stat-value
                                                progress.info-stat-line(value="4.9" max="5")
                                        li.info-stat-item 
                                            .info-stat-parameter Критерии <span>4.9</span>
                                            .info-stat-value
                                                progress.info-stat-line(value="4.9" max="5")
                                a.green-btn.info-reviews-btn.info-reviews-btn-mobile(href="#") Оставить отзыв 
                            .info-reviews-items 
                                h3.info-title Отзывы
                                p.info-reviews-subtitle Фотографии покупателей:
                                .info-reviews-gallary
                                    .info-reviews-slider.js-reviewsSlider
                                        .info-reviews-slide
                                            img(src="img/card/similar4.jpg", alt="Товар")
                                        .info-reviews-slide
                                            img(src="img/card/review2.jpg", alt="Товар")
                                        .info-reviews-slide
                                            img(src="img/card/review3.jpg", alt="Товар")
                                        .info-reviews-slide
                                            img(src="img/card/review4.jpg", alt="Товар")
                                        .info-reviews-slide
                                            img(src="img/card/review5.jpg", alt="Товар")
                                        .info-reviews-slide
                                            img(src="img/card/review6.jpg", alt="Товар")
                                        .info-reviews-slide
                                            img(src="img/card/review7.jpg", alt="Товар")
                                        .info-reviews-slide
                                            img(src="img/card/review8.jpg", alt="Товар")
                                        .info-reviews-slide
                                            img(src="img/card/review1.jpg", alt="Товар")
                                article.info-review
                                    .info-review-photo
                                        img(src="img/icons/avatar.svg", alt="Фото")
                                    .info-review-inner
                                        .info-review-head 
                                            p.info-review-name Александр Баранов
                                                time.info-review-date 3 декабря 2019
                                            .info-review-rating.js-starsWrap
                                                .info-review-stars.stars.js-stars(data-stars="3")
                                                    .stars-result
                                                        span
                                                        span
                                                        span
                                                        span
                                                        span
                                        .info-review-product Вариант товара: <span>Псевдотсуга Мензиса</span>
                                        .js-textWrap
                                            .info-review-comment.js-textBox Комментарий:
                                                p Ну вот я решил наконец то обновиться со своего 7+ спустя три года использования. Честно скажу, 7+ очень нравился, один из лучших смартфонов который у меня был, но уже немного устарел. Олед экран мне не зашёл, не в Х, не в XS. Когда вышел Xr, уже задумался об его покупке, но почему то смущало отсутствие 3D Touch (к которому уже Ну вот я решил наконец то обновиться со своего 7+ спустя три года использования. Честно скажу, 7+ очень нравился, один из лучших смартфонов который у меня был, но уже немного устарел. Олед экран мне не зашёл, не в Х, не в XS. Когда вышел Xr, уже задумался об его покупке, но почему то смущало отсутствие 3D Touch (к которому уже
                                            button.info-more.js-moreBoxText(type="button") Читать полностью
                                        .info-review-images 
                                            .info-review-image
                                                img(src="img/card/review1.jpg", alt="Товар")
                                            .info-review-image
                                                img(src="img/card/similar4.jpg", alt="Товар")
                                            .info-review-image
                                                img(src="img/card/review3.jpg", alt="Товар")
                                            .info-review-image
                                                img(src="img/card/review4.jpg", alt="Товар")
                                        form.info-review-response(method="post")
                                            p.info-review-question Этот отзыв был полезен? 
                                            button.info-review-icon(type="button")
                                                img(src="img/icons/like.svg", alt="Нравится")
                                            button.info-review-icon(type="button")
                                                img(src="img/icons/dislike.svg", alt="Не нравится")
                                            button.info-review-icon(type="button")
                                                    img(src="img/icons/report.svg", alt="Пожаловаться")
                                            p.info-review-reply Ответить
                                article.info-review
                                    .info-review-photo
                                        img(src="img/icons/avatar2.svg", alt="Фото")
                                    .info-review-inner
                                        .info-review-head 
                                            p.info-review-name Лев Панфилов
                                                time.info-review-date 29 ноября 2019
                                            .info-review-rating.js-starsWrap
                                                .info-review-stars.stars.js-stars(data-stars="5")
                                                    .stars-result
                                                        span
                                                        span
                                                        span
                                                        span
                                                        span
                                        .info-review-product Вариант товара: <span>Встроенная память: 128 ГБ, Цвет: черный</span>
                                        form.info-review-response(method="post")
                                            p.info-review-question Этот отзыв был полезен? 
                                            button.info-review-icon(type="button")
                                                img(src="img/icons/like.svg", alt="Нравится")
                                            button.info-review-icon(type="button")
                                                img(src="img/icons/dislike.svg", alt="Не нравится")
                                            button.info-review-icon(type="button")
                                                    img(src="img/icons/report.svg", alt="Пожаловаться")
                                            p.info-review-reply Ответить
                                article.info-review
                                    .info-review-photo
                                        img(src="img/icons/avatar3.svg", alt="Фото")
                                    .info-review-inner
                                        .info-review-head 
                                            p.info-review-name Роман Большаков
                                                time.info-review-date 28 ноября 2019
                                            .info-review-rating.js-starsWrap
                                                .info-review-stars.stars.js-stars(data-stars="5")
                                                    .stars-result
                                                        span
                                                        span
                                                        span
                                                        span
                                                        span
                                        .info-review-product Вариант товара: <span>Встроенная память: 64 ГБ, Цвет: черный</span>
                                        .js-textWrap
                                            .info-review-comment.js-textBox Комментарий:
                                                p Пушка труба. Четыре года носил 6S . А теперь кайфую. Всем кому нужен надёжный , качественный , современный аппарат . Рекомендую
                                            button.info-more.js-moreBoxText(type="button") Читать полностью
                                        form.info-review-response(method="post")
                                            p.info-review-question Этот отзыв был полезен? 
                                            button.info-review-icon(type="button")
                                                img(src="img/icons/like.svg", alt="Нравится")
                                            button.info-review-icon(type="button")
                                                img(src="img/icons/dislike.svg", alt="Не нравится")
                                            button.info-review-icon(type="button")
                                                    img(src="img/icons/report.svg", alt="Пожаловаться")
                                            p.info-review-reply Ответить
                        .info-content.info-content-fourth(data-tab="card-tab-4") 
                            h3.info-title Доставка
                            p.info-subtitle Интернет-магазин “SHOPNAME” выполняет доставку любого товара во все регионы России.
                            .info-delivery
                                .info-delivery-item 
                                    p.info-delivery-title Доставка курьером
                                    span.info-delivery-price от&nbsp;500&nbsp;₽
                                    p.info-delivery-period Срок доставки: <span>до&nbsp;4&nbsp;дней</span>
                                    p.info-delivery-text Доставка осуществляется в течение дня в удобное для вас время.
                                .info-delivery-item 
                                    p.info-delivery-title Самовывоз
                                    span.info-delivery-price Бесплатно
                                    p.info-delivery-period Срок доставки: <span>до&nbsp;2&nbsp;дней</span>
                                    p.info-delivery-text Вы можете самостоятельно забрать заказ из <a href="">пункта выдачи</a>
                            h3.info-title Оплата
                            p.info-subtitle Оплатить заказ можно на&nbsp;сайте или при получении. При оплате на&nbsp;сайте вы&nbsp;получите скидку на&nbsp;доставку. Чтобы получить оплаченный заказ, вам понадобится документ, удостоверяющий личность.
                            .info-payment
                                .info-payment-item 
                                    .info-payment-img 
                                        img(src="img/icons/money-bag.svg", alt="Наличные")
                                    .info-payment-text
                                        .info-payment-title Наличные
                                        .info-payment-subtitle Оплата при получении 
                                .info-payment-item 
                                    .info-payment-img 
                                        img(src="img/icons/card.svg", alt="Банковская карта")
                                    .info-payment-text
                                        .info-payment-title Банковская карта
                                        .info-payment-subtitle На сайте и при получении
                                .info-payment-item 
                                    .info-payment-img 
                                        img(src="img/icons/yandex.svg", alt="Яндекс.Деньги")
                                    .info-payment-text
                                        .info-payment-title Яндекс.Деньги
                                        .info-payment-subtitle При оформлении заказа
                        .info-content.info-content-fifth(data-tab="card-tab-5") 
                            .info-products
                                .info-products-head 
                                    p.info-products-title Расходные материалы
                                    .info-products-categories.js-categoriesMenu Категория
                                        ul.info-categories-list.js-categoriesList
                                            li.info-categories-item Категория 1
                                            li.info-categories-item Категория 2
                                            li.info-categories-item Категория 3
                                            li.info-categories-item Категория 4
                                            li.info-categories-item Категория 5
                                ul.info-products-list.js-moreBox
                                    li.info-products-item
                                        .info-products-img 
                                            img(src="img/icons/empty.png", alt="")
                                        .info-products-name Стекло YUME для Apple IPhone 11, черное, матовое
                                        .info-products-availability Отсутствует
                                        .info-products-price 180&nbsp;₽ <del>380&nbsp;₽</del>
                                        form(method="post") 
                                            button.info-products-basket(type="button")
                                    li.info-products-item
                                        .info-products-img 
                                            img(src="img/icons/empty.png", alt="")
                                        .info-products-name Стекло YUME для Apple IPhone 11, черное, матовое
                                        .info-products-availability.info-products-availability-true В наличии
                                        .info-products-price 180&nbsp;₽ <del>380&nbsp;₽</del>
                                        form(method="post") 
                                            button.info-products-basket(type="button")
                                    li.info-products-item
                                        .info-products-img 
                                            img(src="img/icons/empty.png", alt="")
                                        .info-products-name Стекло YUME для Apple IPhone 11, черное, матовое
                                        .info-products-availability.info-products-availability-true В наличии
                                        .info-products-price 180&nbsp;₽ <del>380&nbsp;₽</del>
                                        form(method="post") 
                                            button.info-products-basket(type="button")
                                    li.info-products-item
                                        .info-products-img 
                                            img(src="img/icons/empty.png", alt="")
                                        .info-products-name Стекло YUME для Apple IPhone 11, черное, матовое
                                        .info-products-availability.info-products-availability-true В наличии
                                        .info-products-price 180&nbsp;₽ <del>380&nbsp;₽</del>
                                        form(method="post") 
                                            button.info-products-basket(type="button")
                                    li.info-products-item
                                        .info-products-img 
                                            img(src="img/icons/empty.png", alt="")
                                        .info-products-name Стекло YUME для Apple IPhone 11, черное, матовое
                                        .info-products-availability.info-products-availability-true В наличии
                                        .info-products-price 180&nbsp;₽ <del>380&nbsp;₽</del>
                                        form(method="post") 
                                            button.info-products-basket(type="button")
                                button.offers-cards-more.js-more(type="button") Показать еще
    section.card-offers
        .container.container-notablet
            .products-item 
                    .products-header 
                        .products-name Рекомендуем так же
                    .products-slider.js-productsSlider
                        .products-slider-item.card
                            img.products-slider-img(src="img/card/offers1.jpg", alt="кустарник")
                            form(method="post")
                                .card-inner 
                                    input.card-favorite(type="checkbox" id="recom1" name="recom1")
                                    label(for="recom1")
                                    p.card-name Кустарники
                                    p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                    span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                    .card-basket
                                        input.card-minus(type="button")
                                        input.card-count(type="text" value="1")
                                        input.card-plus(type="button")
                                        button.card-add(type="button")
                        .products-slider-item.card
                            img.products-slider-img(src="img/card/offers2.jpg", alt="кустарник")
                            form(method="post")
                                .card-inner 
                                    input.card-favorite(type="checkbox" id="recom2" name="recom2")
                                    label(for="recom2")
                                    p.card-name Кустарники
                                    p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                    span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                    .card-basket
                                        input.card-minus(type="button")
                                        input.card-count(type="text" value="1")
                                        input.card-plus(type="button")
                                        button.card-add(type="button")
                        .products-slider-item.card
                            img.products-slider-img(src="img/card/offers3.jpg", alt="кустарник")
                            form(method="post")
                                .card-inner 
                                    input.card-favorite(type="checkbox" id="recom3" name="recom3")
                                    label(for="recom3")
                                    p.card-name Кустарники
                                    p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                    span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                    .card-basket
                                        input.card-minus(type="button")
                                        input.card-count(type="text" value="1")
                                        input.card-plus(type="button")
                                        button.card-add(type="button")
                        .products-slider-item.card
                            img.products-slider-img(src="img/card/offers4.jpg", alt="кустарник")
                            form(method="post")
                                .card-inner 
                                    input.card-favorite(type="checkbox" id="recom4" name="recom4")
                                    label(for="recom4")
                                    p.card-name Кустарники
                                    p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                    span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                    .card-basket
                                        input.card-minus(type="button")
                                        input.card-count(type="text" value="1")
                                        input.card-plus(type="button")
                                        button.card-add(type="button")
                        .products-slider-item.card
                            img.products-slider-img(src="img/card/offers1.jpg", alt="кустарник")
                            form(method="post")
                                .card-inner 
                                    input.card-favorite(type="checkbox" id="recom5" name="recom5")
                                    label(for="recom5")
                                    p.card-name Кустарники
                                    p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                    span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                    .card-basket
                                        input.card-minus(type="button")
                                        input.card-count(type="text" value="1")
                                        input.card-plus(type="button")
                                        button.card-add(type="button")
                    a.products-more(href="#" ) Все товары категории
            .products-item 
                .products-header 
                    .products-name Похожие товары
                .products-slider.js-productsSlider
                    .products-slider-item.card
                        img.products-slider-img(src="img/card/similar1.jpg", alt="кустарник")
                        form(method="post")
                            .card-inner 
                                input.card-favorite(type="checkbox" id="similar1" name="similar1")
                                label(for="similar1")
                                p.card-name Кустарники
                                p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                .card-basket
                                    input.card-minus(type="button")
                                    input.card-count(type="text" value="1")
                                    input.card-plus(type="button")
                                    button.card-add(type="button")
                    .products-slider-item.card
                        img.products-slider-img(src="img/card/similar2.jpg", alt="кустарник")
                        form(method="post")
                            .card-inner 
                                input.card-favorite(type="checkbox" id="similar2" name="similar2")
                                label(for="similar2")
                                p.card-name Кустарники
                                p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                .card-basket
                                    input.card-minus(type="button")
                                    input.card-count(type="text" value="1")
                                    input.card-plus(type="button")
                                    button.card-add(type="button")
                                button.card-add(type="button")
                    .products-slider-item.card
                        img.products-slider-img(src="img/card/similar3.jpg", alt="кустарник")
                        form(method="post")
                            .card-inner 
                                input.card-favorite(type="checkbox" id="similar3" name="similar3")
                                label(for="similar3")
                                p.card-name Кустарники
                                p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                .card-basket
                                    input.card-minus(type="button")
                                    input.card-count(type="text" value="1")
                                    input.card-plus(type="button")
                                    button.card-add(type="button")
                    .products-slider-item.card
                        img.products-slider-img(src="img/card/similar4.jpg", alt="кустарник")
                        form(method="post")
                            .card-inner 
                                input.card-favorite(type="checkbox" id="similar4" name="similar4")
                                label(for="similar4")
                                p.card-name Кустарники
                                p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                .card-basket
                                    input.card-minus(type="button")
                                    input.card-count(type="text" value="1")
                                    input.card-plus(type="button")
                                    button.card-add(type="button")
                    .products-slider-item.card
                        img.products-slider-img(src="img/card/similar1.jpg", alt="кустарник")
                        form(method="post")
                            .card-inner 
                                input.card-favorite(type="checkbox" id="similar5" name="similar5")
                                label(for="similar5")
                                p.card-name Кустарники
                                p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                .card-basket
                                    input.card-minus(type="button")
                                    input.card-count(type="text" value="1")
                                    input.card-plus(type="button")
                                    button.card-add(type="button")
                a.products-more(href="#" ) Все товары категории
    .container.container-notablet
        section.viewed
            .viewed-item 
                .products-header 
                    .products-name Вы просматривали
                .products-slider.products-slider-viewed.js-productsSlider
                    .products-slider-item.card
                        img.products-slider-img(src="img/index/offer1.jpg", alt="летнее растение")
                        form(method="post")
                            .card-inner 
                                input.card-favorite(type="checkbox" id="offer6" name="offer6")
                                label(for="offer6")
                                p.card-name Кустарники
                                p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                .card-basket
                                    input.card-minus(type="button")
                                    input.card-count(type="text" value="1")
                                    input.card-plus(type="button")
                                    button.card-add(type="button")
                    .products-slider-item.card
                        img.products-slider-img(src="img/index/offer2.jpg", alt="летнее растение")
                        form(method="post")
                            .card-inner 
                                input.card-favorite(type="checkbox" id="offer7" name="offer7")
                                label(for="berries3")
                                p.card-name offer7
                                p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                .card-basket
                                    input.card-minus(type="button")
                                    input.card-count(type="text" value="1")
                                    input.card-plus(type="button")
                                    button.card-add(type="button")
                    .products-slider-item.card
                        img.products-slider-img(src="img/index/offer3.jpg", alt="летнее растение")
                        form(method="post")
                            .card-inner 
                                input.card-favorite(type="checkbox" id="offer8" name="offer8")
                                label(for="offer8")
                                p.card-name Кустарники
                                p.card-text Гортензия метельчатая в ассортименте (саженцы)
                                span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                                .card-basket
                                    input.card-minus(type="button")
                                    input.card-count(type="text" value="1")
                                    input.card-plus(type="button")
                                    button.card-add(type="button")               