main(class=`main main-${page}`)
    .container.container-narrow 
        +breadcrumb(['Главная'], 'Мои желания')
        h2.wishes-title Мои желания
        ul.wishes-cards
            li.wishes-card 
                img(src="img/wishes/wishes1.jpg" alt="Кустарник")
                form(method="post")
                    .card-inner 
                        input.card-favorite(type="checkbox" id="wishes1" name="wishes1")
                        label(for="wishes1")
                        p.card-name Кустарники
                        p.card-text Гортензия метельчатая в ассортименте (саженцы)
                        span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                        .card-basket
                            input.card-minus(type="button")
                            input.card-count(type="text" value="1")
                            input.card-plus(type="button")
                            button.card-add(type="button")
            li.wishes-card 
                img(src="img/wishes/wishes2.jpg" alt="Кустарник")
                form(method="post")
                    .card-inner 
                        input.card-favorite(type="checkbox" id="wishes2" name="wishes2")
                        label(for="wishes2")
                        p.card-name Кустарники
                        p.card-text Гортензия метельчатая в ассортименте (саженцы)
                        span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                        .card-basket
                            input.card-minus(type="button")
                            input.card-count(type="text" value="1")
                            input.card-plus(type="button")
                            button.card-add(type="button")
            li.wishes-card 
                img(src="img/wishes/wishes3.jpg" alt="Кустарник")
                form(method="post")
                    .card-inner 
                        input.card-favorite(type="checkbox" id="wishes3" name="wishes3")
                        label(for="wishes3")
                        p.card-name Кустарники
                        p.card-text Гортензия метельчатая в ассортименте (саженцы)
                        span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                        .card-basket
                            input.card-minus(type="button")
                            input.card-count(type="text" value="1")
                            input.card-plus(type="button")
                            button.card-add(type="button")
            li.wishes-card 
                img(src="img/wishes/wishes1.jpg" alt="Кустарник")
                form(method="post")
                    .card-inner 
                        input.card-favorite(type="checkbox" id="wishes4" name="wishes4")
                        label(for="wishes4")
                        p.card-name Кустарники
                        p.card-text Гортензия метельчатая в ассортименте (саженцы)
                        span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                        .card-basket
                            input.card-minus(type="button")
                            input.card-count(type="text" value="1")
                            input.card-plus(type="button")
                            button.card-add(type="button")
            li.wishes-card 
                img(src="img/wishes/wishes2.jpg" alt="Кустарник")
                form(method="post")
                    .card-inner 
                        input.card-favorite(type="checkbox" id="wishes5" name="wishes5")
                        label(for="wishes5")
                        p.card-name Кустарники
                        p.card-text Гортензия метельчатая в ассортименте (саженцы)
                        span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                        .card-basket
                            input.card-minus(type="button")
                            input.card-count(type="text" value="1")
                            input.card-plus(type="button")
                            button.card-add(type="button")
            li.wishes-card 
                img(src="img/wishes/wishes3.jpg" alt="Кустарник")
                form(method="post")
                    .card-inner 
                        input.card-favorite(type="checkbox" id="wishes6" name="wishes6")
                        label(for="wishes6")
                        p.card-name Кустарники
                        p.card-text Гортензия метельчатая в ассортименте (саженцы)
                        span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                        .card-basket
                            input.card-minus(type="button")
                            input.card-count(type="text" value="1")
                            input.card-plus(type="button")
                            button.card-add(type="button")
            li.wishes-card 
                img(src="img/wishes/wishes1.jpg" alt="Кустарник")
                form(method="post")
                    .card-inner 
                        input.card-favorite(type="checkbox" id="wishes7" name="wishes7")
                        label(for="wishes7")
                        p.card-name Кустарники
                        p.card-text Гортензия метельчатая в ассортименте (саженцы)
                        span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                        .card-basket
                            input.card-minus(type="button")
                            input.card-count(type="text" value="1")
                            input.card-plus(type="button")
                            button.card-add(type="button")
            li.wishes-card 
                img(src="img/wishes/wishes2.jpg" alt="Кустарник")
                form(method="post")
                    .card-inner 
                        input.card-favorite(type="checkbox" id="wishes8" name="wishes8")
                        label(for="wishes8")
                        p.card-name Кустарники
                        p.card-text Гортензия метельчатая в ассортименте (саженцы)
                        span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                        .card-basket
                            input.card-minus(type="button")
                            input.card-count(type="text" value="1")
                            input.card-plus(type="button")
                            button.card-add(type="button")
            li.wishes-card 
                img(src="img/wishes/wishes3.jpg" alt="Кустарник")
                form(method="post")
                    .card-inner 
                        input.card-favorite(type="checkbox" id="wishes9" name="wishes9")
                        label(for="wishes9")
                        p.card-name Кустарники
                        p.card-text Гортензия метельчатая в ассортименте (саженцы)
                        span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                        .card-basket
                            input.card-minus(type="button")
                            input.card-count(type="text" value="1")
                            input.card-plus(type="button")
                            button.card-add(type="button")
            li.wishes-card 
                img(src="img/wishes/wishes1.jpg" alt="Кустарник")
                form(method="post")
                    .card-inner 
                        input.card-favorite(type="checkbox" id="wishes10" name="wishes10")
                        label(for="wishes10")
                        p.card-name Кустарники
                        p.card-text Гортензия метельчатая в ассортименте (саженцы)
                        span.card-price 22&nbsp;600&nbsp;₽ <del>50&nbsp;990&nbsp;₽</del>
                        .card-basket
                            input.card-minus(type="button")
                            input.card-count(type="text" value="1")
                            input.card-plus(type="button")
                            button.card-add(type="button")