block variables
    - var title = 'Карточка товара'
    - var page = 'product'
include html/static/mixins

html(lang='ru')
    head 
        include html/static/head
    body 
        div(class=`wrapper js-wrapper wrapper-${page}`)
            include html/static/header
            include html/static/header-fixed
            include html/pages/card
            include html/static/footer