block variables
    - var title = 'Каталог'
    - var page = 'catalog'
include html/static/mixins

html(lang='ru')
    head 
        include html/static/head
    body 
        div(class=`wrapper js-wrapper wrapper-${page}`)
            include html/static/header
            include html/pages/catalog
            include html/static/footer