block variables
    - var title = 'Заказ детально'
    - var page = 'details'
include html/static/mixins

html(lang='ru')
    head 
        include html/static/head
    body 
        div(class=`wrapper js-wrapper wrapper-${page}`)
            include html/static/header
            include html/pages/details
            include html/static/footer