block variables
    - var title = 'Мои желания'
    - var page = 'wishes'
include html/static/mixins
doctype html
html(lang='ru')
    head 
        include html/static/head
    body 
        div(class=`wrapper js-wrapper wrapper-${page}`)
            include html/static/header
            include html/pages/wishes
            include html/static/footer